# Assessing and Building Intuition Quiz
Use the space below to explore `census_income_data.csv` to answer the quiz questions below.

In [1]:
# Import pandas
import pandas as pd
import numpy as np

# Load census income data
df = pd.read_csv('census_income_data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
# Work to answer the quiz question

# Q1. Number of Rows
print("\nNumber of Rows: ",df.shape[0])

# Q2. Number of Columns
print("\nNumber of Columns: ",df.shape[1])

# Q3. Data Type of Several Columns
print("\nData Types: \n",df.dtypes)

# Q4. Columns with Missing Values
print("\nColumns with Missing Values: \n",df.columns[df.isnull().any()])

# Q5. Number of Unique Values of Education
print("\nNumber of Unique Values of Education: ",len(np.unique(df['education'])))
print("\nUnique Values in Education are: \n",np.unique(df['education']))

# Q6. Mean Age
print("\nMean Age: ",df['age'].mean())

# Q7. 75th Percentile of Hours per week
print("\n75th Percentile of Hours per Week: ",df['hours-per-week'].quantile(q=0.75))

Number of Rows:  32561

Number of Columns:  15

Data Types:
 age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

Columns with Missing Values:
 Index(['workclass', 'occupation', 'native-country'], dtype='object')

Number of Unique Values of Education:  16

Unique Values in Education are:
 [' 10th' ' 11th' ' 12th' ' 1st-4th' ' 5th-6th' ' 7th-8th' ' 9th'
 ' Assoc-acdm' ' Assoc-voc' ' Bachelors' ' Doctorate' ' HS-grad' ' Masters'
 ' Preschool' ' Prof-school' ' Some-college']

Mean Age:  38.5816467553

75th Percentile of Hours per Week:  45.0

In [11]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000